div.formatCard {
  min-height: 100px;
  max-height: 200px;
  height: 120px;
  max-width: 200px;
  min-width: 150px;
  border-radius: 10px;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  margin-right: 25px;
}
div.formatCard > img {
  height: 32px;
  width: 32px;
  margin: 25px 0px 0px 35px;
}
div.formatCard > p {
  margin: 25px 0 0 10px;
  font-weight: bold;
  color: white;
}
div.formatCard > span {
  margin-left: 30px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
footer.footerCard {
  color: white;
  width: 100%;
  padding-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
